    body {
        background: #fffbdd;
        color: rgb(128, 141, 183);
        font-family: Arial;
        padding: 20px;
    }

    .card {
        background: #efd5cd;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
    }